<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Delivery App Thingy</title>

	<link rel="stylesheet" href="{% static 'lib/angular-material/angular-material.min.css' %}">
</head>
<body ng-app="DeliveryApp">
	<div layout="row" layout-wrap>
		<div flex="70" ng-controller="OrderCtrl" layout-padding>
			<md-toolbar>
			<div class="md-toolbar-tools">
					<h3>
						<span>Order List</span>
					</h3>
				</div>
			</md-toolbar>
			<md-content style="height: 400px">
				<md-list>
					<md-list-item class="md-2-line" ng-repeat="order in orders">
						<md-icon md-svg-icon="MaterialDesignIcons:alarm"></md-icon>
						<div class="md-list-item-text">
							<h3>{$order.area$}</h3>
                                                        <p>{$order.items | orderstring$}</p>
						</div>
					</md-list-item>
				</md-list>
			</md-content>
		</div>
		<div flex="30" layout-padding>
			<div controller="DeliveryBoysCtrl">
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h3>
							<span>Delivery Dudes</span>
						</h3>
					</div>
				</md-toolbar>
                       <md-content style="height: 400px">
                                <md-list>
                                        <md-list-item class="md-2-line" ng-repeat="boys in deliveryBoys">   
                                                <div class="md-list-item-text">
                                                        <h3>{$ boys.name $}</h3>
                                                </div>
                                        </md-list-item>
                                </md-list>
                        </md-content>
			</div>
		</div>
		<div flex="" layout-padding></div>
	</div>
	
	<!-- Dependencies -->
	<script src="{% static 'lib/angular/angular.min.js' %}"></script>
	<script src="{% static 'lib/angular-animate/angular-animate.min.js' %}"></script>
	<script src="{% static 'lib/angular-aria/angular-aria.min.js' %}"></script>
	<script src="{% static 'lib/angular-material/angular-material.min.js' %}"></script>
	<script src="{% static 'lib/firebase/firebase.js' %}"></script>
	<script src="{% static 'lib/angularfire/dist/angularfire.min.js' %}"></script>

	<!-- App -->
	<script src="{% static 'app/app.js' %}"></script>

	<!-- Controllers -->
	<script src="{% static 'app/controllers/order.js' %}"></script>
	<script src="{% static 'app/controllers/delivery.js' %}"></script>

	<!-- Services -->
	<script src="{% static 'app/services/fireback.js' %}"></script>

	<!-- Filters -->
	<script src="{% static 'app/filters/orderstring.js' %}"></script>
</body>
</html>
